.navigation{
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    border-bottom: 2px rgb(255, 204, 0);
    position: sticky;
    z-index: 5;

   .header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: rgb(255, 204, 0);

    .title{
        font-family: 'Luckiest Guy', cursive;
        color: black;
        font-size: 2rem;
        background-color: rgb(255, 204, 0);
    }
    .user_container{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      background-color: rgb(255, 204, 0);


      .option{
        padding: 0rem 1rem;
        color: black;
        background-color: rgb(255, 204, 0);


        .tab{
            width: 24px;
            height: 24px;
            background-color: rgb(255, 204, 0);

        }
      }
    }

    } 
    .page_nav{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 1rem;
        background-color: black;
        border-bottom: 2px solid rgb(255, 204, 0);

        .nav_item{
            padding: 0px 2rem;
            font-size: 1.5rem;
            font-weight: 600;
            font-family: 'Titillium Web', sans-serif;
            color: rgb(255, 204, 0);
            transition: 400ms ease-in-out;
            user-select: none;
            cursor: pointer;

            &:hover, &:focus{
                color: black;
                background-color: rgb(255, 204, 0);

            }
        }
    }

    @media screen and (max-width: 600px) {
        .header{
            display: grid;
            grid-template-columns:  1fr;
            align-items: center;
            text-align: center;
            justify-content: center;


            .user_container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 0 auto;
            }

            .title{
                font-size: 3rem;
            }
        }

        .page_nav{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            text-align: center;

            .nav_item{
                font-size: 1rem;
                width: fit-content;
            }
            
        }
    }
}
